/dev/ami304hal		  0640  compass	     system
/dev/ami304daemon	  0640  compass	     system
/dev/ami304		  0640  compass	     system
/dev/K3DH		  0640  compass	     system
/dev/KR3DH		  0640  compass	     system
/dev/KR3DM		  0640  compass	     system
